{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
   {% block stylesheets %}    <link rel="stylesheet" href="{{ asset('CSS/style.css') }}"> {% endblock %}

{% block body %}
    <div class="login-card mt-5" >
        <h1>Inscription</h1>

        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.name) }}
        {{ form_row(form.password) }}
        {{ form_row(form.option) }}
        {{ form_row(form.discr) }}
        {{ form_row(form.dateDeNaissance) }}
        {{ form_row(form.submit) }}

        {{ form_end(form) }}
    </div>
{% endblock %}